#cemp-page{
  background: #fff;
  height: 100vh;/* theme must be support viewport */
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;/* theme must be support viewport */
}
#cemp-config-page{
  background: #eeeeee;
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  position: relative;
}
#cemp-login{
  width: 600px;
  height: auto;
  background: #fff;
  border-radius: 13px;
  margin: auto;
  padding-bottom: 40px;
}
#cemp-login h2{
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
}
#cemp-login input, #cemp-login button, #cemp-login label,
#cemp-login .change-form, .cemp-form-input{
  border-radius: 13px;
  display: block;
  margin: auto;
  width: 90%;
}
.cemp-form-input{
  border: 2px solid #777;
  height: 60px;
  margin-bottom: 20px!important;
  margin-top: 20px;
}
#cemp-login label{
  font-size: 13px;
  padding: 10px 0;
}
#cemp-login .change-form{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#login-error{
  color: #f44;
  font-size: 18px!important;
  margin-bottom: -20px;
}
#cemp-login a{
  color: var(--emp-btn-bg)!important;
}
#cemp-login input:focus, #cemp-login button:focus{
  border: 2px solid #007ca9;
  outline: none;
}
#cemp-login button{
  border: 2px solid;
  cursor: pointer;
  height: 50px;
  margin-top: 10px;
}
#cemp-login .success{
  background: var(--emp-btn-bg);
  border: none;
  color: var(--emp-btn-color);
  cursor: pointer;
  height: 60px;
  margin-top: 50px;
}
#cemp-list-display{
  background: var(--emp-btn-bg);
  border-radius: 0 30px 30px 0;
  color: var(--emp-btn-color);
  cursor: pointer;
  display: none;
  height: 70px;
  line-height: 60px;
  margin: auto;
  max-width: 1200px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .3s;
  width: 28px;
  z-index: 3;
}
#cemp-list-display-button{
  padding: 26px 3px 26px 0;
}
#cemp-div{
  background: #eee;
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#cemp-list{
  background: #000;
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  transition: all .3s;
  width: 20%;
  z-index: 2;
}
.cemp-loading-list{
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}
#cemp-list::-webkit-scrollbar{
  display: none;
}
#cemp-list ul {
  padding: 0;
}
#cemp-list ul li {
  border-bottom: 1px solid #ffffff55;
  color: #fff!important;
  cursor: pointer;
  display: grid;
  font-size: 16px;
  list-style: none;
  padding: 20px 10px;
  text-align: center;
}
#cemp-list ul li:hover{
  background: #262626;
}
#cemp-list img{
  border-radius: 13px!important;
  height: 50px;
  margin: auto;
  width: 50px;
}
#new-messages-count{
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 100px;
  font-size: 18px;
  background: #262626;
  padding: 11px;
  color: #fff;
  border-radius: 50%;
  min-width: 45px;
  height: 45px;
  text-align: center;
  font-weight: 700;
  z-index: 1;
}
#cemp-chat-div{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#cemp-chat-info{
  align-items: center;
  display: flex!important;
  height: 10%;
  justify-content: center;
}
.cemp-list-icons{
  cursor: pointer;
}
#cemp-list-display{
  left: 15px;
  position: absolute;
}
#cemp-settings-icon{
  padding: 10px;
  position: absolute;
  right: 15px;
}
#chat-settings{
  align-items: center;
  background: #fff;
  bottom: 0;
  color: #000;
  display: flex;
  height: 90%;
  justify-content: center;
  max-width: 500px;
  position: absolute;
  overflow: auto;
  right: 0;
  text-align: center;
  transform: translate(500px, 0);
  transition: .3s ease;
  width: 100%;
  z-index: 2;
}
#chat-settings.show{
  transform: translate(0);
}
@media (min-width: 992px){
  #chat-settings{
    border: 1px solid #000
  }
  #cemp-list-display{
    display: none;
  }
}
#cemp-user-data{
  position: absolute;
  top: 0;
  width: 100%;
}
#cemp-user-data input{
  margin-bottom: 10px;
  margin-top: 10px;
}
#cemp-user-data .error{
  border: 2px solid #f88;
}
#cemp-user-data a{
  color: var(--emp-btn-bg)!important;
  font-weight: 700;
}
#cemp-messages{
  border-bottom: 90px solid transparent;
  font-size: 18px;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.cemp-loading-div{
  align-items: center;
  display:flex!important;
  height: 100%;
  width: 100%!important;
  margin:auto!important;
}
.cemp-loading-p{
  display:block;
  font-size: 40px;
  text-align:center;
  width:100%
}
#cemp-messages div{
  display: grid;
  overflow: hidden;
  margin: 20px;
  width: 85%;
}
#cemp-messages div.receive{
  background: var(--emp-head-title-bg);
  border-radius: 0 20px 20px 20px;
  color: var(--emp-head-title-color);
}
#cemp-messages div.send{
  background: var(--emp-content-bg);
  border-radius: 20px 20px 0 20px;
  color: var(--emp-content-color);
  margin-left: auto;
}
#cemp-messages div p{
  margin: 0;
  max-width: 100%;
  overflow: auto;
}
#cemp-messages div span{
  font-size: 9px;
  padding: 10px 0;
}
#cemp-messages div span img{
  border-radius: 13px!important;
  height: 15px;
  margin-right: 5px;
}
#cemp-messages div span.rigth{
  margin-left: auto;
  margin-right: 20px;
}
#cemp-messages div span.left{
  height: auto;
  padding-left: 20px;
}
#cemp-textarea-div{
  bottom: 0;
  max-width: 1200px;
  padding: 10px;
  position: absolute;
  width: 100%;
}
#remain-char{
  font-size: 10px;
  max-width: 1200px;
  margin: auto;
  padding: 0 0 5px 5px;
}
#cemp-form{
  display: flex;
  font-size: 14px;
}
.form-height{
  height: 120px;
}
#message-bar{
  border-radius: 13px;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}
#message-button{
  background: var(--emp-btn-bg);
  border: none;
  border-radius: 0 13px 13px 0;
  color: var(--emp-btn-color);
  font-size: 18px;
  padding: 0;
  visibility: hidden;
  width: 0%;
}
.cemp-d-none{
  display: none!important;
}
/* Mobile support */
@media(max-width:991px){
  #cemp-login{
    height: auto;
    overflow: auto;
  }
  #cemp-list{
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .cemp-loading-list{
    font-size: 2rem;
  }
  .cemp-hide-list{
    width: 0!important;
    overflow: hidden;
  }
  #cemp-textarea-div{
    position: fixed;
  }
  .form-height{
    height: 60px;
  }
  #message-bar{
    border-radius: 13px 0 0 13px;
    width: 70%;
  }
  #message-button{
    visibility: visible;
    width: 30%;
  }
  #new-messages-count{
    position: fixed;
  }
}
@media (min-width: 992px){
  #cemp-chat-div{
    position: relative;
  }
  #cemp-messages div p{
    margin: 20px 0;
  }
  #cemp-messages{
    border-bottom: 160px solid transparent!important;
  }
  #cemp-messages div span{
    font-size: 12px!important;
  }
  #cemp-form{
    font-size: 20px!important;
  }
  #cemp-messages div span img {
    height: 20px;
  }
}
/* Animation fade in */
.cemp-fade-in{
  -khtml-opacity: 0;
  -webkit-opacity: 0;
	opacity: 0;
	transition: all .3s;
}
.cemp-faded{
  -khtml-opacity: 1!important;
  -webkit-opacity: 1!important;
	opacity: 1!important;
}
/* Prevent default events */
body {
  height: 101vh;
  overflow: hidden;
}
@media(min-width: 992px){
  body {
    overflow: hidden;
  }
}
textarea {
  resize: none;
}
textarea:focus{
  outline: none;
}

/* Empralidad-Theme support */
#cemp-page{
  border-top: 60px solid var(--emp-nav-bg);
}
#top-notice{
  display: none;
}
#wpadminbar{
  display: none!important;
}
a#btn-searchform, a.fa-dark.fab.fa-whatsapp, .img-fixed {
  display: none!important;
}
.admin-fixed-top {
  top: 0!important;
  position: fixed;
  width: 100vw;
}
.buttons-mobile{
  display: none!important;
}
